on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'


  pull_request:
    branches:
      - main

name: Continuous Integration and Build Tests

jobs:

  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        go: [1.25.x]

    steps:

      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install python dependencies
        run: python -m pip install --upgrade pip setuptools wheel
      - name: installing codespell
        run: pip install codespell
      - name: running codespell
        run: codespell --skip="vendor,*.git,*.png,*.pdf,*.tiff,*.plist,*.pem,rangesim*.go,*.gz" --ignore-words="./testdata/ignore_words.txt"

      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go mod tidy
          go mod vendor
      - run: go test -v -coverprofile=profile.cov ./...
      - run: sed -i -e '/^.*_gen\.go:.*$/d' profile.cov
      - run: go build -o /dev/null ./cmd/trickster

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
          flag-name: Go-${{ matrix.go }}
          parallel: true
  finish:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
